QPushButton {
    border: none;
    background: transparent;
    color: #c4c4c4;
    font-size: 16px;
}
QPushButton[enabled="false"] {
    color: #949494;
}
QPushButton QLabel#Icon {
    margin-top: 5px;
}