QPushButton {
    border: none;
    background: transparent;
}
QPushButton:hover {
    background: transparent;
}
QLabel {
    color: #c4c4c4;
    font-size: 14px;
}
QLabel#Icon {
    margin-top: 5px;
    color: #ff0000;
}