QPushButton {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: transparent;
}
QLabel {
    color: #c4c4c4;
    font-size: 14px;
}
QPushButton:hover {
    background: qlineargradient(x1 : 1, y1 : 0, x2 : 0, y2 : 0, stop : 0.0 #8a3b16,  stop : 1.0 #46474b);
}